@use "vars";

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid vars.$white;
  color: vars.$white;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 640px) {
    font-size: 18px;
  }
}

.text {
  font-size: 20px;
  font-weight: 200;
  color: vars.$white;

  &:first-child {
    margin-bottom: 24px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.text--sm {
  font-size: 16px;
  color: vars.$white;
  border-bottom: 2px solid vars.$white;
  text-align: center;

  &-gray {
    color: #7b8c86;
  }
}

.flex--title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.flex--content {
  display: flex;
  align-items: center;

  img {
    margin-right: 32px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    img {
      max-width: 600px;
      height: 450px;
      width: auto;
      margin-right: 0;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
    text-align: center;

    img {
      max-width: 300px;
      height: 230px;
      width: auto;
      margin: 0;
    }
  }
}

.flex--list {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  padding-top: 32px;

  li {
    padding: 26px;
    text-align: center;
    background-color: #060726;
    border-radius: 9px;

    img {
      height: 400px;
      margin-bottom: 12px;
      border-radius: 4px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    // align-items: center;

    img {
      width: auto;
      margin: 0 auto;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

.ml-50 {
  margin-left: 50px;
}

.ease-4 {
  transition: all 0.4s ease;
}

.scale {
  &:hover {
    transform: scale(1.1);
  }
}
